#area {
  position: relative;
  background-color: #66636354;
  margin: 1em auto;
}

.ball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}
